<div class="form-section">
  <h3>{{ title }} <span *ngIf="required" class="required">*</span></h3>
  <p class="description">{{ description }}</p>

  <div class="radio-group" *ngIf="showRadioOptions">
    <label>
      <input
        type="radio"
        name="externalFiles"
        value="yes"
        [checked]="selectedOption === 'yes'"
        (change)="onOptionChange('yes')"
      />
      כן
    </label>
    <label>
      <input
        type="radio"
        name="externalFiles"
        value="no"
        [checked]="selectedOption === 'no'"
        (change)="onOptionChange('no')"
      />
      לא
    </label>
  </div>

  <div class="checkbox-item" [class.disabled]="disableCheckbox">
    <input
      type="checkbox"
      id="addFiles"
      [disabled]="disableCheckbox"
      [(ngModel)]="addFilesChecked"
      (change)="onCheckboxChange()"
    />
    <label for="addFiles">{{ checkboxLabel }}</label>
  </div>

  <!-- File request list section -->
  <div class="file-request-list" *ngIf="showFileList">
    <!-- <div *ngFor="let item of fileRequestItems; let i = index">{{ item.title }}</div> -->
    <app-file-request-item
      *ngFor="let item of fileRequestItems; let i = index"
      [title]="item.title"
      [index]="i"
      [shouldOpenAsDialog]="true"
      (remove)="removeFileRequest(i)">
    </app-file-request-item>
  </div>

  <!-- Add new file request button -->
  <div class="add-request-button-container">
    <button
      type="button"
      class="primary-button"
      *ngIf="showPrimaryButton"
      (click)="onPrimaryButtonClick()"
    >
      <span class="button-icon">{{ primaryButtonIcon }}</span>
      {{ primaryButtonText }}
    </button>
  </div>
</div>
