<div class="update-db-container">


  <!-- Main Content Area -->
  <div class="main-content-wrapper">
    <!-- Process Pane Container (25% width) - Right side in RTL layout -->
    <div class="process-pane-container">
      <app-process-pane
        headerTitle="בקשה להרחבת מסד נתונים"
        buttonText="עזרה ומידע נוסף"
        (buttonClick)="onButtonClick()">
      </app-process-pane>
    </div>

    <!-- Main Content (75% width) - Contains container and sidebar -->
    <div class="main-content">
      <div class="main-content-container">
        <app-request-header
          title="פתיחת הבקשה"
          subtitle="פירוט עיקרי הבקשה למחקר והעברתם לאישור"
          alertText="יש למלא את פרטי הבקשה להרחבת מסד לאישור">
        </app-request-header>
        <router-outlet></router-outlet>
      </div>

      <div class="left-sidebar">
        <!-- Research Contact Component -->
        <app-research-contact></app-research-contact>
      </div>
    </div>

  </div>
</div>
